/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* Utils */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.border-curve{
    border-radius: 8px;
}

.white-text{
    color: white;
}

.grey-text{
    color: #a1a1a1;
    font-size: 16px;
}
/* Layout */

.main-section{
    margin: 15px 0;
}

main{
    min-height: 500px;
}


.sidebar-main{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.box-main{
    width: calc(60% - 30px);
    float: left;
    margin: 20px 15px;
}

footer{
    min-height: 80px;
    margin: 8px 0 15px 0;
    line-height: 80px;
}

/* Header section */

#logo{
    height: 60px;
}

ul li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 8px;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #a1a1a1;
}

/* Spotlight-section */

.bg-main-sec{
   background-color: rgba(203,188,182,1);
   background-image: url(../img/banner.jpg); 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   min-height: 400px;
   position: relative;
}

.bg-opacity{
    min-height: 400px;
    background-color: rgba(87, 54, 43, 0.3);
}

.info-main{
    max-width: 450px;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.info-main h2{
    font-weight: lighter;
}

/* Leadership section */

.side-photo{
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.photo-left{
    background-image: url(../img/img-1.jpg);
}


.photo-right{
    background-image: url(../img/img-3.jpg);
}

.bg-opacity-small{
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
}

.center-photo{
    min-height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../img/banner-2.jpg);
    margin-bottom: 10px;
}

.margin-content{
    margin-top: 10px;
}

/* Footer */

footer p{
    text-align: center;
    line-height: 80px;
}

footer p::after{
    content: '\2665';
    font-size: 2em;
    color: red;
    line-height: 80px;
    margin-left: 5px;
}